button{
  position: fixed;
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 50vw;
  border-top: solid;
  border-top-color: #d8d8d8;
  border-top-width: 2px;
  border-right: solid;
  border-right-width: 1px;
  border-right-color: #d8d8d8;
  font-weight: bold;
}
button:active{
  color: gray;
}

#button2{
  left: 50vw;
  color: gray;
}

#button2:focus{
  left: 50vw;
  color: black;
}

#buttons{
  bottom: 50px;
  position: fixed;
}
br {
line-height: 200%;
}

body{
    font-family: 'helvetica';
    margin: 0;
}

h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}

a-scene{
  height: 50vh;
  position: fixed;
  top: 0;
  cursor: move;
}

.info{
  margin-top: 52vh;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 660px;
}

#info2{
  display: none;
}

#startscreen{
    background-color: black ;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    color: white;
    opacity: 1;
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear;
}
#starttext{
  margin-left: auto;
  margin-right: auto;
  margin-top: 35vh;
  padding-left: 10vw;
  padding-right: 30px;
  max-width: 600px;
}
#starttext h3{
  margin-top: 150px;
}

@media screen and (min-width: 1100px) {
    #buttons{
      top:0;
      width: 70vw;
    }
    #button2{
      left:85%;
    }
    #button2:focus{
      left: 85%;
      color: black;
    }
    #button1{
      left: 70%;
    }
    button{
      width: 15vw;
      border-top: none;
      border-top-color: #d8d8d8;
      border-top-width: 2px;
      border-bottom: solid;
      border-bottom-color: #d8d8d8;
      border-bottom-width: 2px;
      border-right: solid;
      border-right-width: 1px;
      border-right-color: #d8d8d8;
      font-weight: bold;
    }

    a-scene{
      height: 100vh;
      width: 70vw;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
    }

    .info{
      margin-top: 70px;
      margin-bottom: 0px;
      margin-right: auto;
      padding-left: 12px;
      padding-right: 12px;
      max-width: 660px;
      width: 26%;
      left: 70vw;
      margin-left: 71vw;
    }




}

@media screen and (min-width: 800px) {
  #starttext{
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
  }
}
