button{
  position: absolute;
  top: 0;
}

#button2{
  position: absolute;
  left: 80px;
}

body{
    font-family: 'Nunito';
    margin: 0;
}

h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}

a-scene{
  height: 50vh;
  position: fixed;
  top: 0;
}

.info{
  height: 50vh;
  margin-top: 50vh;
}

#info2{
  display: none;
}
